{% extends 'base.html' %}
{% block body %}
<body>
<div class="ui middle aligned  grid" style="margin-left:330px;">
  <div class="ui ten wide column" >
    <h2 class="ui center aligned header"> Change your password </h2>
    <form class="ui form" method="post" action="{% url 'accounts:password_change' %}">
        {% csrf_token %}
        {{ form.as_p}}
        <button class="ui fluid large teal submit button" type="submit">Change password</button>
    </form>

  </div>
</div>

</body>
{% endblock %}

